<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Layout.css")
</head>
<body>
    <header>
        <div class="site-header">
            <div class="logo-bar">
                <div class="logo-desktop"><a class="logo" href="/" title="Cuyahoga Community College"><img alt="Cuyahoga Community College" src="~/Content/Images/Tri-C logo.png" /></a></div>
                <div class="logo-mobile"><a class="logo-mobile" href="/" title="Cuyahoga Community College"><img alt="Cuyahoga Community College" src="~/Content/Images/Circle.png" />Cuyahoga Community College</a></div>
            </div>
            <div>
            </div>
        </div>

        <div id="globalNav">
            <ul>
                <li>@Html.ActionLink("Home", "", "Home")</li>
                <li>@Html.ActionLink("People", "", "People")</li>
                <li>@Html.ActionLink("Cases", "", "Cases")</li>
                <li>@Html.ActionLink("Statuses", "", "Statuses")</li>
                <li>@Html.ActionLink("Locations", "", "Locations")</li>
                <li>@Html.ActionLink("Departments", "", "Departments")</li>
            </ul>

        </div>
    </header>
    <div class="header2">


    </div>
    <div class="container ">
        <!--body-content-->
        @RenderBody()
        <hr />
        <footer>
            <p class="footer-text">&copy; @DateTime.Now.Year - Tri-C Covid 19 Tracing App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
