@model COVID19TriC.Models.Person

@{
    ViewBag.Title = "Details";
}


<h2>Details for @Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName)</h2>
<h4>@Html.DisplayFor(model => model.SNumber)</h4>
<h4>@Html.DisplayFor(model => model.PersonalEmail)</h4>
<h4>@Html.DisplayFor(model => model.SchoolEmail)</h4>
<h4>@Html.DisplayFor(model => model.formattedPhoneNumber)</h4>
<table class="table table-sm">

    <tr>
        <th class="col-md-2">Location:</th>
        <td class="col-md-9">@Html.DisplayFor(model => model.Location.LocationDescription)</td>
    </tr>
    <tr>
        <th class="col-md-2">Department:</th>
        <td class="col-md-9">@Html.DisplayFor(model => model.Department.DepartmentDescription)</td>
    </tr>
    <tr>
        <th class="col-md-2">Date Created:</th>
        <td class="col-md-9">@Html.DisplayFor(model => model.DateCreated)</td>
    </tr>
    <tr>
        <th class="col-md-2">Created By:</th>
        <td class="col-md-9">@Html.DisplayFor(model => model.CreatedBy)</td>
    </tr>
    <tr>
        <th class="col-md-2">Date Modified:</th>
        <td class="col-md-9">@Html.DisplayFor(model => model.DateModified)</td>
    </tr>
    <tr>
        <th class="col-md-2">Modified By:</th>
        <td class="col-md-9">@Html.DisplayFor(model => model.ModifiedBy)</td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<input type=button onClick="location.href='/Cases/Create'" value='create case'>