@model COVID19TriC.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Details for Case Number @Html.DisplayFor(model => model.CaseID)</h2>

<div >
    <h3>@Html.DisplayFor(model => model.Person.LastName), @Html.DisplayFor(model => model.Person.FirstName)</h3>
    <h4>@Html.DisplayFor(model => model.Location.LocationDescription) </h4>
    <table class="table table-sm create table-striped table-hover"style="width:100%" >
        <tr>
            <th class="col-md-2">Quarantined?:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.Quarantined)</td>
            <th class="col-md-3">Date Quarantine Ends:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.DateQuarantineEnds)</td>
        </tr>
        <tr>
            <th class="col-md-2">Status Description:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.Status.StatusDescription)</td>
            <th class="col-md-3">Date Reported:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.DateReported)</td>
        </tr>
        <tr>
            <th class="col-md-2">Travel Restriction State:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.TravelRestrictionState)</td>
            <th class="col-md-3">Case Reported By:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.ReportingName)</td>
        </tr>
        <tr>
            <th class="col-md-2">County Notified?:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.CountyNotified)</td>
            <th class="col-md-3">Reporting Title/Relationship:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.ReportingTitle)</td>
        </tr>
        <tr>
            <th class="col-md-2">Date of Exposure:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.DateOfExposure)</td>
            <th class="col-md-3">Reporting Department Name:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.Department.DepartmentDescription)</td>
        </tr>
        <tr>
            <th class="col-md-2">Exposure Comments:</th>
            <td class="col-md-4" >@Html.DisplayFor(model => model.ExposureComments)</td>
            <td class-"col-md-3"></td>
            <td class-"col-md-3"></td>
        </tr>
        <tr>
            <th class="col-md-2">Date of Symptoms:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.DateOfSymptoms)</td>
            <th class="col-md-3">Date Last at College Location:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.DateLastAtLocation)</td>
        </tr>
        <tr class="table-primary">
            <th class="col-md-2">Symptoms:</td>
            <td class="col-md-4" >@Html.DisplayFor(model => model.Symptoms)</td>
            <td class-"col-md-3"></td>
            <td class-"col-md-3"></td>
        </tr>
        <tr>
            <th class="col-md-2">Date of Test:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.DateOfTest)</td>
            <th class="col-md-3">Date of Diagnosis:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.DateOfDiagnosis)</td>
        </tr>
        <tr>
            <th class="col-md-2">General Comments:</th>
            <td class="col-md-4" >@Html.DisplayFor(model => model.GeneralComments)</td>
            <td class-"col-md-3"></td>
            <td class-"col-md-3"></td>
        </tr>
        <tr>
            <th class="col-md-2,table-secondary">Date Created:</th>
            <td class="col-md-4,table-secondary">@Html.DisplayFor(model => model.DateCreated)</td>
            <th class="col-md-3">Created By:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.CreatedBy)</td>
        </tr>
        <tr>
            <th class="col-md-2">Date Modified:</th>
            <td class="col-md-4">@Html.DisplayFor(model => model.DateModified)</td>
            <th class="col-md-3">Modified By:</th>
            <td class="col-md-3">@Html.DisplayFor(model => model.ModifiedBy)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>