@model IEnumerable<COVID19TriC.Models.Case>

@{
    ViewBag.Title = "Index";
}

<body>
    <h2>Cases</h2>



    @using (Html.BeginForm())
    {<form>
    <table>

        <tr>
            <td style="padding-right:10px"><input type="radio" name="QuarantineOnly" value="1" checked></td>
            <td style="padding-right:15px">View Quarantined Only</td>
            <td style="padding-right:15px">View By Status: @Html.DropDownList("caseStatus", "All Statuses Selected")</td>
            <td style="padding-right:15px">Last Name Search: @Html.TextBox("SearchString")</td>
            <td><input type="submit" value="Filter"></td>
        </tr>
        <tr>
            <td style="padding-right:10px"><input type="radio" name="QuarantineOnly" value="0" 2 /></td>
            <td style="padding-right:15px">View All Cases</td>
        </tr>
        <tr>
            <td></td>
        </tr>


    </table>
</form>
    }
    </br>
    <p>
        @Html.ActionLink("Create New Case", "Create") <br />
        <button id="showDetail">Show Details</button>
    </p>
    <table class="table table-sm table-striped" id="ppl">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarantined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateQuarantineEnds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.StatusDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExposureComments)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quarantined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateQuarantineEnds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExposureComments)
        </td>
        <td>
            <ul style="list-style-type:none">
                <li>@Html.ActionLink("Details", "Details", new { id = item.CaseID })</li>
                <li>@Html.ActionLink("Edit", "Edit", new { id = item.CaseID })</li>
                <li>@Html.ActionLink("Delete", "Delete", new { id = item.CaseID })</li>
            </ul>
        </td>
    </tr>
        }

    </table>

</body>

<script>
    var toggle = document.getElementById("showDetail");
    toggle.addEventListener("mouseup", function () {
        if (toggle.innerHTML == "Show Details") {
            toggle.innerHTML = "Hide Details"
        }
        else {
            toggle.innerHTML= "Show Details"
        }
        $('#ppl tr th:nth-child(2)').toggle();
        $('#ppl tr td:nth-child(2)').toggle();
        $('#ppl tr th:nth-child(3)').toggle();
        $('#ppl tr td:nth-child(5)').toggle(); $('#ppl tr th:nth-child(3)').toggle();
        $('#ppl tr td:nth-child(5)').toggle(); $('#ppl tr th:nth-child(4)').toggle();
        $('#ppl tr td:nth-child(4)').toggle();
        $('#ppl tr th:nth-child(5)').toggle();
        $('#ppl tr td:nth-child(5)').toggle();
    })
</script>

